.history {
  background-image: url("../images/canoe.jpg");
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.history-wrap {
  padding: 180px 60px 180px 0px;
}

.more {
  padding-top: 25px;
}
.third-btn {
  color: white;
  font-weight: 600;
  padding: 17px 46px;
  background-color: transparent;
  border: 0.5px white solid;
  font-size: 15px;
  border-radius: 5px;
}

.third-btn:hover {
  background-color: white;
  color: black;
}

.history-wrap {
  color: white;
  justify-content: flex-end;
  display: flex;
}
/* .the-text {
  justify-content: flex-end;
} */
.the-text {
  text-align: left;
}
.the-text h2 {
  font-size: 44.8px;
  line-height: 58.24px;
  margin: 0px 0px 8px;
  padding: 0px 0px 8px;
}

.the-text h3 {
  color: #cccccc;
  font-size: 19.2px;
  font-weight: 500;
  line-height: 26.88px;
}
.the-text p {
  color: #cccccc;
  font-weight: 500;
  line-height: 27.2px;
  width: 26rem;
}

.portfolio {
  background-color: white;
  height: auto;
}

.portfolio-wrap {
  padding-top: 60px;
  padding-bottom: 45px;
}

.for-line {
  font-size: 19.2px;
  font-weight: 500;
  letter-spacing: 6px;
  line-height: 26.88px;
  width: 100%;
  text-align: center;
}

.for-line::before,
.for-line::after {
  display: inline-block;
  content: "";
  border-top: 0.1rem solid rgb(0, 0, 0);
  width: 2.5rem;
  margin: 0 1rem;
  transform: translateY(-0.3rem);
}

.second-header {
  font-size: 70.4px;
  font-weight: 700;
  line-height: 91.52px;
  margin: 0px 0px 8px;
  padding: 0px 0px 16px;
  text-align: center;
}

.portfolio p {
  color: #767676;
  line-height: 27.2px;
  margin: 0rem 25.5rem;
  text-align: center;
}
/* first animation */
.pictures-flex {
  display: flex;
  /* margin: 10px auto 2000px; */
}
.pictures-flex .bex {
  position: relative;
  box-sizing: border-box;
}
.pictures-flex .bex .img-bex {
  position: relative;
  overflow: hidden;
}
.pictures-flex .bex .img-bex img {
  transition: transform 2s;
}

.pictures-flex .bex:hover .img-bex img {
  transform: scale(1.2);
}
.pictures-flex .bex .deteils {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.5);
  transform: scaleY(0);
  transition: transform 0.5s;
}
.pictures-flex .bex:hover .deteils {
  transform: scaleY(1);
}
.pictures-flex .bex .deteils .content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: #ffffff;
}
.pictures-flex .bex .deteils .content h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.pictures-flex .bex .deteils .content p {
  margin: 20px 0;
  padding: 0;
}

.pictures-flex img {
  width: 449.6px;
  height: 500px;
}
/* second animation*/
.container-wrap {
  width: 1280px;
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-wrap .box {
  position: relative;
  width: 300px;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
}

.container-wrap .box .img-box {
  position: relative;
  overflow: hidden;
}

.container-wrap .box .img-box img {
  max-width: 100%;
  transition: transform 2s;
}

.container-wrap .box:hover .img-box img {
  transform: scale(1.2);
}

.container-wrap .box:hover .details {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.5);
}

.contain-flex {
  padding-top: 20px;
  display: flex;
}

/* third animation*/
.contain-flex .bax {
  position: relative;
  box-sizing: border-box;
}
.contain-flex .bax .img-bax {
  position: relative;
  overflow: hidden;
}
.contain-flex .bax .img-bax img {
  transition: transform 2s;
}

.contain-flex .bax:hover .img-bax img {
  transform: scale(1.2);
}
.contain-flex .bax .detaails {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.5);
  transform: scaleY(0);
  transition: transform 1.5s;
}
.contain-flex .bax:hover .detaails {
  transform: scaleY(1);
}
.contain-flex .bax .detaails .contant {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: #ffffff;
}
.contain-flex .bax .detaails .contant h5 {
  margin: 0px 0px 8px;
  padding: 0 0px 9px;
  /* font-size: 20px; */
  letter-spacing: 2px;
  line-height: 16px;
}
.contain-flex .bax .detaails .contant h6 {
  margin: 0;
  padding: 0;
  font-size: 19.2px;
  font-weight: 500;
}
.contain-flex .bex .detaails .contant p {
  margin: 20px 0;
  padding: 0;
}

.contain-flex img {
  width: 674.5px;
  height: 800px;
}

/* .contain-flex .box:hover .details {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.5);
} */
@media only screen and (max-width: 1200px) {
  .history-wrap {
    justify-content: space-around;
    padding-left: 39rem;
  }

  .the-text p {
    width: 22rem;
  }
  .portfolio p {
    margin: 0rem 23.5rem;
  }
  .pictures-flex img {
    width: 394px;
  }
  .container-wrap {
    width: 1138px;
  }
  .container-wrap .box {
    width: 264.41px;
    height: 176.27px;
  }
  .contain-flex img {
    width: 591px;
  }
}

@media only screen and (max-width: 992px) {
  .history-wrap {
    justify-content: center;
    padding-right: 0px;
    padding-left: 100px;
  }
  .the-text p {
    width: 33.5rem;
  }
  .portfolio p {
    margin: 1rem 13.5rem;
  }
  .pictures-flex {
    flex-direction: column;
  }
  .pictures-flex img {
    width: 61rem;
  }
  .container-wrap {
    flex-wrap: wrap;
    width: 926px;
  }
  .container-wrap .box {
    width: 211.5px;
    height: 141px;
  }
  .contain-flex {
    flex-direction: column;
  }
  .contain-flex img {
    width: 61rem;
    height: 400px;
  }
}

@media only screen and (max-width: 839px) {
  .container-wrap .box {
    width: 173.25px;
    height: 120.5px;
  }
  .container-wrap {
    width: 774px;
  }
  .contain-flex img {
    width: 821px;
  }
}

@media only screen and (max-width: 768px) {
  .the-text {
    text-align: center;
  }
  .the-text p {
    width: 29.5rem;
  }
  .portfolio p {
    margin: 1rem 8.1rem;
  }
  .container-wrap {
    width: 695px;
  }
  .container-wrap .box {
    width: 327px;
    height: 218px;
  }
}

@media only screen and (max-width: 700px) {
  /* .pictures-flex img {
    width: 300px;
  } */
  .form {
    padding: 0px 35px;
  }
  .write {
    margin: 0px 76px;
  }
  .container-wrap .box {
    width: 315px;
    height: 204px;
  }
  .container-wrap {
    width: 670px;
  }
  .form-icon-one .far,
  .form-icon-one .fas {
    right: 3.8rem;
  }
  .far {
    right: 20rem;
  }
  /* .pictures-flex .bex {
    width: 10rem;
  } */
}

@media only screen and (max-width: 600px) {
  .write {
    margin: 0px 38px;
  }
  .history-wrap {
    padding-left: 10px;
  }
  .faces-wrap {
    width: 34rem;
  }

  .portfolio p {
    margin: 1rem 3rem;
  }
  .second-header {
    font-size: 56.9821px;
  }
  .container-wrap {
    width: 563px;
  }
  .container-wrap .box {
    margin: 7px;
    width: 266.5px;
    height: 177.66px;
  }
  .far {
    right: 16.5rem;
  }
  .form-icon-one .far,
  .form-icon-one .fas {
    right: 5px;
  }
}

@media only screen and (max-width: 575px) {
  .container-wrap {
    width: 506px;
  }

  .container-wrap .box {
    width: 239px;
    height: 159.6px;
  }
}
