* {
  font-family: DM Sans, sans-serif;
}

.navbar {
  top: 0;
  height: auto;
  position: fixed;
  background: transparent;
  width: 100%;
  z-index: 9999;
  margin: auto;
}

.navbar.active {
  background: black;
  transition: 0.4s;
}

.navbar-container {
  padding: 0px 76px 0px 80px;
}

.nav-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -39px;
}

.for-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.social-icon-link {
  color: white;
  padding: 10px;
}
.nav-menu {
  display: flex;
  justify-content: space-evenly;
  width: 86%;
  margin-left: 5.5rem;
}
.nav-item {
  list-style: none;
  align-self: center;
}
.nav-links:active,
.nav-links:hover {
  color: rgb(129, 129, 129);
  cursor: pointer;
}

.nav-links {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.right-head h2 {
  color: white;
  font-size: 44.8px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 0rem;
  padding-top: 3.6rem;
}
.right-head h2:hover {
  color: rgb(129, 129, 129);
  cursor: pointer;
}
.menu-wrap {
  width: 60%;
  margin-top: 48px;
}

.first {
  position: relative;
  display: inline-block;
}

.live-dropdown {
  display: none;
  position: absolute;
  background-color: black;
  width: 16rem;
  padding: 30px 10px 10px 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* font-size: 14px; */
  font-weight: 600;
  text-align: center;
  margin-left: -2rem;
}

.live-dropdown .demo {
  color: white;
  padding: 12px 30px;
  text-decoration: none;
  display: block;
}

.live-dropdown .demo:hover {
  background-color: black;
}

.first:hover .live-dropdown,
.second:hover .live-dropdown {
  display: block;
}

.for-demo:hover,
.live-demo:hover {
  color: #d8d7d7;
}
/* .buy-button {
  margin-top: -16px;
} */
.buy-outline {
  color: white;
  padding: 6.4px 24px;
  background-color: transparent;
  border: 0.5px white solid;
  border-radius: 5px;
  /* font-size: 18px; */
  letter-spacing: 1px;
  line-height: 19.2px;
}

.buy-outline:hover {
  background-color: white;
  transition: ease-in 0.25s;
  color: black;
  cursor: pointer;
}
.menu-icon {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .nav-menu {
    margin-left: 2.7rem;
  }
}
@media only screen and (max-width: 992px) {
  .navbar-container {
    padding: 0px 76px 0px 15px;
  }
  .menu-wrap {
    width: 100%;
  }
  .right-head h2 {
    font-size: 43.8px;
    text-align: left;
    padding-top: 31px;
  }
  .start h2 {
    line-height: 26.88px;
  }

  .nav-menu {
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: -300%;
    left: 0;
    opacity: 1;
    transition: all 1s ease-in-out;
    transform-origin: center;
  }

  .nav-menu.active {
    padding: 1em;
    background-color: black;
    top: 40px;
    height: fit-content;
    left: -3rem;
    z-index: 1000;
  }

  .nav-item {
    align-items: center;
    padding: 11.2px 0px;
    text-align: center;
  }

  .buy-outline {
    width: 97%;
    font-weight: 600;
  }

  .menu-wrap {
    margin-top: 54px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 22px;
    right: 25px;
    color: white;
    cursor: pointer;
  }
  
  .fa-bars,
  .fa-times {
    transform: scale(2.4, 1.7);
  }
}
@media only screen and (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: -300%;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    padding: 1em;
    background-color: black;
    top: 40px;
    left: -3rem;
    opacity: 1;
    z-index: 1000;
  }
  .menu-wrap {
    margin-top: 29px;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 22px;
    right: 25px;
    color: white;
    cursor: pointer;
  }
  .right-head h2 {
    font-size: 43.63px;
    padding-top: 28px;
  }
  .for-icons {
    width: 71%;
    justify-content: center;
    margin-top: 76px;
  }
  .fa-bars,
  .fa-times {
    transform: scale(2.4, 1.7);
  }
  .nav-item {
    text-align: center;
    padding: 15px;
  }

  .buy-button {
    padding: 10px 1.5rem 10px 0px;
    align-self: center;
  }
  .buy-outline {
    width: 43rem;
  }
}

@media only screen and (max-width: 600px) {
  .nav-menu {
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: -300%;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    padding: 1em;
    background-color: black;
    top: 80px;
    left: -3rem;
    opacity: 1;
    z-index: 1000;
  }
  .nav-item {
    padding: 15px;
  }
  .fa-bars,
  .fa-times {
    transform: scale(2.4, 1.7);
  }

  .right-head h2 {
    font-size: 35.7325px;
    text-align: left;
    padding-top: 2rem;
  }
  .menu-wrap {
    margin: 75px 15px 1px;
    padding-right: 87px;
  }
  .for-icons {
    margin-top: 35px;
    width: 102%;
  }

  .buy-button {
    align-self: center;
    padding-right: 1.5rem;
  }
  .buy-outline {
    width: 33rem;
  }
}

@media only screen and (max-width: 575px) {
  .buy-outline {
    width: 30rem;
  }
}
