/* .photo {
  background-image: url("../images/studio.jpg");
  height: 943px;
  background-position: 100% -32%;
  background-repeat: no-repeat;
  background-size: 90rem 59rem;
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
} */
.photo {
  background-image: url("../images/studio.jpg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}
.photo-wrap {
  padding-top: 153px;
}

.start h2::before,
.start h2::after {
  display: inline-block;
  content: "";
  border-top: 0.15rem solid rgb(255, 255, 255);
  width: 3rem;
  margin: 0 1rem;
  transform: translateY(-0.3rem);
}

.start h2 {
  text-align: center;
  color: white;
  font-size: 19.2px;
  letter-spacing: 6px;
  line-height: 50px;
  font-weight: 500;
  margin-top: 0;
}

.the-studio {
  display: flex;
  justify-content: space-around;
}

.the-studio h3 {
  color: #ffffff;
  font-size: 77px;
  line-height: 131.52px;
  font-weight: 500;
  margin: 0px 0px 8px;
  padding: 0px 0px 16px;
  text-align: center;
}
.studio-parag {
  display: flex;
  justify-content: space-around;
}
.studio-parag p {
  line-height: 25px;
  text-align: center;
  color: white;
  width: 29rem;
  font-size: 17px;
}

.view-btn {
  text-align: center;
  padding-top: 25px;
}
.second-btn {
  color: white;
  margin: -8.6px 12.8px;
  padding: 17px 46px;
  background-color: transparent;
  border: 0.5px white solid;
  font-size: 15px;
  border-radius: 5px;
}

.second-btn:hover {
  background-color: white;
  color: black;
}

.flex-wrap {
  display: flex;
  padding-top: 90px;
  flex-direction: row;
  /* padding-left: 110px;
  padding-right: 110px; */
  width: 100%;
  justify-content: space-around;
}
.camera,
.occasions,
.coverage {
  padding-bottom: 35px;
}

.flex-icons {
  font-size: 56px;
  line-height: 56px;
  text-align: center;
  color: #00d8a6;
  padding-left: 8rem;
}

.flex-wrap h4 {
  color: white;
  text-align: center;
}

.flex-wrap p {
  text-align: center;
  color: white;
  width: 20rem;
  margin: 0px 0px 16px;
  line-height: 27.2px;
}

.flex-wrap hr {
  height: 1.5px;
  background-color: white;
  border: none;
  width: 2.5rem;
}

.flex-wrap h5 {
  color: white;
  text-align: center;
  letter-spacing: 2.3px;
}
@media only screen and (max-width: 600px) {
  .start h2 {
    font-size: 18.2px;
    line-height: 25.788px;
  }
  .the-studio h3 {
    font-size: 57.14px;
    line-height: 79.66px;
  }
  .studio-parag p {
    text-align: center;
    line-height: 24px;
    font-size: 15px;
  }
  .flex-wrap {
    flex-direction: column;
    align-items: center;
  }
  .flex-wrap p {
    width: 28rem;
  }
  .flex-icons {
    padding-left: 12.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .start h2 {
    line-height: 0px;
  }
  .the-studio h3 {
    font-size: 70.4px;
    line-height: 98.56px;
  }
  .studio-parag p {
    width: 36rem;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 992px) {
  .the-studio h3 {
    width: 13rem;
    line-height: 91.52px;
  }
  .studio-parag p {
    font-size: 15px;
    width: 21rem;
  }
  .flex-icons {
    padding-left: 6rem;
  }
  .flex-wrap p {
    font-size: 15px;
    width: 16rem;
  }
}
