.team {
  background-color: white;
  height: auto;
}

.team-wrap {
  padding-bottom: 45px;
}

.faces-wrap {
  display: flex;
  flex-direction: row;
  padding: 0px 1.2rem;
}

.faces {
  color: white;
}
/* .face-one {
  background-color: #29a7c6;
  padding: 16px 15px;
}
.face-two {
  background-color: #ed6031;
  padding: 16px 15px;
}

.face-three {
  background-color: black;
  padding: 16px 15px;
}
.face-four {
  background-color: #d6952c;
  padding: 16px 15px;
} */

.faces img {
  width: 298px;
  height: 402px;
}
.face-text {
  padding: 48px 48px 16px;
}

.faces h3 {
  font-size: 16px;
}
.faces h4 {
  font-size: 19.2px;
}

.faces p {
  margin: 0px 0px 16px;
  width: 10rem;
  line-height: 24px;
  text-align: left;
}

.clients {
  background-image: url("../images/gallery01.jpg");
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* text-align: center; */
  z-index: 0;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}
.clients-wrap {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 150px;
  padding-bottom: 150px;
}
.clients-text h5 {
  color: white;
  font-size: 44.8px;
  font-weight: 300;
  margin: 0px 0px 8px;
  padding: 0px 0px 8px;
  line-height: 58.24px;
}

.clients-text h6 {
  color: white;
  line-height: 26.88px;
  font-size: 19.2px;
  font-weight: 500;
  margin: 0px 0px 8px;
  padding: 0px 0px 8px;
  text-align: left;
}

.first-paragraph {
  color: #cccccc;
  line-height: 27.2px;
  margin: 0px 0px 16px;
  text-align: left;
  width: 33rem;
}

.circle img {
  height: 210px;
  object-fit: cover;
  width: 210px;
  margin: 4px 0px;
  padding: 0px 15px;
  border-radius: 100%;
}

.lil-icons {
  display: flex;
  align-items: center;
}

.lil-icons p {
  color: #cccccc;
  line-height: 27.2px;
  margin: 0px 0px 16px;
  text-align: left;
  width: 12rem;
}

.lil-icons span {
  padding-right: 6px;
}

@media only screen and (max-width: 1200px) {
  .faces img {
    width: 257px;
    height: 385.5px;
  }

  .first-paragraph {
    width: 26rem;
  }
  @media only screen and (max-width: 992px) {
    .faces-wrap {
      flex-wrap: wrap;
      justify-content: center;
    }
    .faces img {
      width: 313px;
      height: 469.5px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .faces img {
    width: 476px;
    height: 714px;
  }
  .face-text {
    text-align: center;
    padding: 12px 22px 28px;
  }
  .faces p {
    text-align: center;
    width: 27rem;
  }

  .clients-wrap {
    flex-direction: column;
    align-items: center;
  }
  .clients-text h5 {
    font-size: 36.9861px;
    line-height: 51.7805px;
    text-align: center;
  }
  .clients-text h6 {
    text-align: center;
    font-size: 18.4154px;
    font-weight: 500;
    line-height: 25.7815px;
  }
  .first-paragraph {
    width: 31rem;
    text-align: center;
  }
  .lil-icons {
    flex-direction: column;
    text-align: center;
  }
  .lil-icons p {
    text-align: center;
  }
}
