* {
  font-family: DM Sans, sans-serif;
}

/**
@media only screen and (max-width: 700px) {
  .photo,
  .photography,
  .history,
  .clients,
  .footer,
  .footer-bottom,
  .portfolio,
  .events,
  .container,
  .container-2,
  .team {
    width: 106%;
  }
  .form-icon-one .far,
  .form-icon-one .fas {
    right: 2.5rem;
  }
  .far {
    right: 18.7rem;
  }
  .progress {
    width: 90%;
  }

  .the-number {
    right: 71px;
  }
} */

@media only screen and (max-width: 450px) {
  .photo,
  .photography,
  .history,
  .clients,
  .footer-bottom {
    width: 116.5%;
  }
  .events {
    width: 116%;
  }

  .mid-head {
    font-size: 74px;
  }

  .the-image img {
    width: 477px;
  }
  .counter,
  .portfolio-wrap {
    padding-left: 6rem;
  }
  .counter-flex p {
    width: 19rem;
  }

  .portfolio p {
    margin: 1rem -2rem;
  }
  .img-bex,
  .img-bax {
    width: 32.6rem;
  }
  .second-header {
    padding-left: 2rem;
    width: 100%;
  }
  .form-icon-one .far,
  .form-icon-two .fas,
  .row-two .fas,
  #email-row i {
    left: 27.8rem;
  }
  .far {
    right: 10.2rem;
  }

  .for-form {
    width: 116%;
  }
}
